/* Put asterisk mark(*) to fields Form */
.required {
  color: red;
}


.profile-head h4{
    color: #333;
}
.profile-head h6{
    color: #0062cc;
}

.profile-tab label{
    font-weight: 600;
}
.profile-tab p{
    font-weight: 600;
    color: #0062cc;
}

.profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
}

.profile-head .nav-tabs{
    margin-bottom:5%;
}
.profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
    opacity: 0.5 ;
    color: #6c757d;
}

.profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
    opacity: 1 ;
}

/* form login */
#add {
    width: 70%;
    position: absolute;
    right: 0;
    margin: 39px 16px 0 0;
    
    z-index: 100;
    background-color: #D3D3D3;
    border-radius: 0 0 5px 5px;

}

#device p {
    text-decoration: none;
}
#open {
    width: 30px;
    margin: 0;
    cursor: pointer;
    background-image:  url(../../static/img/open.png);
    background-repeat: no-repeat;
    background-position:  8px 10px;
    color: #1E90FF;
    padding: 5px 35px 5px 30px;
    border-radius: 0 0 5px 5px;
    float:right;
}

#open.closed {
    background-image: url(../../static/img/close.png);
}

#open:hover {
    opacity: 0.8; 
}

#add form {
    padding: 15px 15px 15px 15px;
    display: none;
}
#add_bt {
    float: right;
    margin-bottom: 18px;
    background-color: #1E90FF;
    color:white;
}

/* search bar */

.search_input{
    border-radius: 25px 0 0 25px;
    width:60%;
    
    }

.search_icon{
    border-radius: 0 25px 25px 0;
    }



