{% extends "base.html" %}


{% block title %}
{{block.super}} - Profile
{% endblock %}

{% block content %}
<div class="container" style="margin-top:160px;">

	<div class="row justify-content-center">
		<div class="col-md-6 ">
			<div class="profile-head">
				<h4>{{user.provider.name}}</h4>
				<h6>{{roles}}</h6>
				<ul class="nav nav-tabs" href="#about">
					<li class="nav-item">
						<a class="nav-link active" id="about-tab" href="#about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#edit" id="edit-tab">Edit</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#device" id="device-tab">Devices</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-2">
			<a href="{% url 'user:pw_change' %}"><button class="btn btn-secondary" type="button" style="margin-bottom:30px;">Change Password				
			</button></a>
		</div>
		
	</div>
	
	<div class="row justify-content-center" >
		<div class="col-md-8">
			<div class="tab-content profile-tab">
			<div class="tab-pane fade show active" id="about">
			<div class="row">
				<div class="col-md-6"><label for="">
					User Id
				</label></div>
				<div class="col-md-6">
					<p>{{user.provider.id}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><label for="">
					Name
				</label></div>
				<div class="col-md-6">
					<p>{{user.provider.name}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><label for="">
					Full Name
				</label></div>
				<div class="col-md-6">
					<p>{{user.provider.full_name}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><label for="">
					Email
				</label></div>
				<div class="col-md-6">
					<p>{{user.email}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><label for="">
					Phone
				</label></div>
				<div class="col-md-6">
					<p>{{user.provider.phone}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><label for="">
					Website Link
				</label></div>
				<div class="col-md-6">
					<p>{{user.provider.url}}</p>
				</div>
			</div>
			</div>

			<div class="tab-pane fade" id="edit">
				<form action="{% url 'user:profile' %}" method="post" id="form">
					{% csrf_token %}
					{% if form.name.errors %}
				      <ul class="custom_error_list">
				        {% for error in form.name.errors %}
				          <li><em>{{ error }}</em></li>
				        {% endfor %}
				      </ul>
				    {% endif %}
					<div class="form-group row">
						<label for="name" class="col-sm-3 col-form-label">Name</label>
						{% if form.name.value %}
						<div class="col-sm-9"><input type="text" class="form-control" name="name" value="{{form.name.value}}" id="name"></div>
						{% else %}
						<div class="col-sm-9"><input type="text" class="form-control" name="name" id="name"></div>
						{% endif %}
					</div>
					{% if form.full_name.errors %}
				      <ul class="custom_error_list">
				        {% for error in form.full_name.errors %}
				          <li><em>{{ error }}</em></li>
				        {% endfor %}
				      </ul>
				    {% endif %}
					<div class="form-group row">
						<label for="full_name" class="col-sm-3 col-form-label">Full Name</label>
						{% if form.full_name.value %}
						<div class="col-sm-9"><input type="text" class="form-control" name="full_name" value="{{form.full_name.value}}" id="full_name"></div>
						{% else %}
						<div class="col-sm-9"><input type="text" class="form-control" name="full_name" id="full_name"></div>
						{% endif %}
					</div>
					{% if form.email.errors %}
				      <ul class="custom_error_list">
				        {% for error in form.email.errors %}
				          <li><em>{{ error }}</em></li>
				        {% endfor %}
				      </ul>
				    {% endif %}
					<div class="form-group row">
						<label for="" class="col-sm-3 col-form-label">Email</label>
						{% if form.email.value %}
						<div class="col-sm-9"><input type="text" class="form-control" name="email" value="{{form.email.value}}" id="email"></div>
						{% else %}
						<div class="col-sm-9"><input type="text" class="form-control" name="email" id="email"></div>
						{% endif %}
					</div>
					{% if form.phone.errors %}
				      <ul class="custom_error_list">
				        {% for error in form.phone.errors %}
				          <li><em>{{ error }}</em></li>
				        {% endfor %}
				      </ul>
				    {% endif %}
					<div class="form-group row">
						<label for="phone" class="col-sm-3 col-form-label">Phone</label>
						{% if form.phone.value %}
						<div class="col-sm-9"><input type="text" class="form-control" name="phone" value="{{form.phone.value}}" id="phone"></div>
						{% else %}
						<div class="col-sm-9"><input type="text" class="form-control" name="phone" id="phone"></div>
						{% endif %}
					</div>
					{% if form.url.errors %}
				      <ul class="custom_error_list">
				        {% for error in form.url.errors %}
				          <li><em>{{ error }}</em></li>
				        {% endfor %}
				      </ul>
				    {% endif %}
					<div class="form-group row">
						<label for="url" class="col-sm-3 col-form-label">Website Link</label>
						{% if form.url.value %}
						<div class="col-sm-9"><input type="text" class="form-control" name="url" value="{{form.url.value}}" id="url"></div>
						{% else %}
						<div class="col-sm-9"><input type="text" class="form-control" name="url" id="url"></div>
						{% endif %}
					</div>
					
					<p style="font-size:0.8em;color:red;"><i>( * just fill out the fields which you want to change infomation.)</i></p>
					<button class="btn btn-success" type="button" style="float:right;" id="change_bt">Confirm</button>
				</form>

			</div>
			<div class="tab-pane fade" id="device">
				<div class="row justify-content-center">
					<div class="col-10">
					<div class="input-group" style="width:100%">
						<input type="text" name="" placeholder="Search..." class="search_input" id="search">
						<div class="input-group-append">
						<button class="btn btn-light search_icon" disabled><i class="fa fa-search"></i></button>
						</div>
					</div>
					</div>
					<div class="col-2">
						<p id="open">Add</p>
					</div>
				</div>
				<div id="add">
			
					<form action="{% url 'user:profile' %}" method="post" id="form_add">
						{% csrf_token %}
						<div class="form-group row">
							<label for="brand" class="col-sm-3 col-form-label">Brand<span class="required">*</span></label>
							{% if form_add.brand.value %}
							<div class="col-sm-9"><input type="text" class="form-control" name="brand" value="{{form_add.brand.value}}" id="brand" required pattern="\S+"></div>
							{% else %}
							<div class="col-sm-9"><input type="text" class="form-control" name="brand" id="brand" required pattern="\S+"></div>
							{% endif %}
						</div>
						{% if form_add.model.errors %}
					      <ul class="custom_error_list">
					        {% for error in form_add.model.errors %}
					          <li><em>{{ error }}</em></li>
					        {% endfor %}
					      </ul>
					    {% endif %}
						<div class="form-group row">
							<label for="" class="col-sm-3 col-form-label">Model<span class="required">*</span></label>
							{% if form_add.model.value %}
							<div class="col-sm-9"><input type="text" class="form-control" name="model" value="{{form_add.model.value}}" required pattern="\S+" id="model"></div>
							{% else %}
							<div class="col-sm-9"><input type="text" class="form-control" name="model" required pattern="\S+" id="model"></div>
							{% endif %}
						</div>
						<div class="form-group row">
							<label for="" class="col-sm-3 col-form-label">Description<span class="required">*</span></label>
							{% if form_add.description.value %}
							<div class="col-sm-9"><input type="text" class="form-control" name="description" value="{{form_add.description.value}}" required pattern="\S+" id="description"></div>
							{% else %}
							<div class="col-sm-9"><input type="text" class="form-control" name="description" required pattern="\S+" id="description"></div>
							{% endif %}
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group row">
									<label for="quantity" class="col-sm-6 col-form-label">Quantity<span class="required">*</span></label>
									{% if form_add.quantity.value %}
									<div class="col-sm-6"><input type="text" class="form-control" name="quantity" value="{{form_add.quantity.value}}" id="quantity" required pattern="\S+"></div>
									{% else %}
									<div class="col-sm-6"><input type="text" class="form-control" name="quantity" id="quantity" required pattern="\S+"></div>
									{% endif %}
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group row">
									<label for="kind" class="col-sm-3 col-form-label">Kind<span class="required">*</span></label>
									{% if form_add.kind.value %}
									<div class="col-sm-9"><input type="text" class="form-control" name="kind" value="{{form_add.kind.value}}" required pattern="\S+" id="kind"></div>
									{% else %}
									<div class="col-sm-9"><input type="text" class="form-control" name="kind" required pattern="\S+" id="kind"></div>
									{% endif %}
								</div>
							</div>
						</div>
						<button class="btn" type="button" id="add_bt">Add</button>
					</form>
				</div>
				{% if list_device %}
				<table class="table table-bordered" style="text-align:center;margin-top:20px;vertical-align: middle;">
					<thead>
				    <tr style="background-color:lightgray">
				      <th>Brand</th>
				      <th>Model</th>
				      <th>Kind</th>
				      <th>Description</th>
				      <th>Quantity</th>
				  

				    </tr>
				    </thead>
				  {% for device in list_device %}
				    <tbody>
				    	<tr style="background-color:rgb(254,250,246);">
				    		<td>{{device.brand}}</td>
				    		<td><a href="{{device.get_update_url}}">{{device.model}}</a></td>
				    		<td>{{device.kind}}</td>
				    		<td>{{device.description}}</td>
				    		<td>{{device.quantity}}</td>

				    	</tr>
				    </tbody>
				  {% endfor %}
				</table>

				{% else %}
				<h4>No Device</h4>

				{% endif %}
			</div>
			
		</div>
		</div>

	</div>


</div>
<script>
$(document).ready(function() {
	$(".nav-link").click(function() {
		if ($(this).hasClass("active")) {
			return false;
		} else {
			$(".nav-link").removeClass("active");
			$(this).addClass("active");
			var id = $(this).attr("href");
			$(".tab-pane.fade").removeClass("show active");
			$(id).addClass("show active");

		} // end if			

	});// end click
	$("#open").click(function() {
		
		$("#add form").stop().slideToggle();
		$("#brand").focus();
		
		$(this).toggleClass("closed");
	}); //end click

	$("#change_bt").click(function() {
		var name = $("#name").val();
		var full_name = $("#full_name").val();
		var email = $("#email").val();
		var phone = $("#phone").val();
		var url = $("#url").val();
		if (name==""&&full_name==""&&email==""&&phone==""&&url=="") {
			alert("Please fill at least one field!");
			return false;
		}

		$("#form").submit();
		
	}); //end click
	$("#add_bt").click(function() {

		var quantity = $("#quantity").val();
		var brand = $("#brand").val();
		var model = $("#model").val();
		var description = $("#description").val();
		var kind = $("#kind").val();
		if (isNaN(quantity)) {
			alert("Please supply a number to quantity field!");
			return false;
		}
		if (brand==""||model==""||description==""||kind==""||quantity=="") {
			alert("Please fill out all the fields!");
			return false;
		}

		$("#form_add").submit(
		);// end submit
	}); // end click
	$("#quantity").blur(function() {
		var fieldValue = $(this).val();
		if (isNaN(fieldValue)) {
			alert("Please supply a number");
			}
	}); //end blur

	$("#search").focus(function() {
		$(this).keyup(function() {
			var valueSearch = $(this).val().trim();

			if (valueSearch=="") {
				$("tbody tr").show();

			} else {
				valueArray = valueSearch.split(" ");

				$("tbody tr").hide();
				for (var i=0;i<valueArray.length;i++) {
					$("tbody tr").each(function() {
					$(this).find("td").each(function() {
						if ($(this).text().toLowerCase().includes(valueArray[i].toLowerCase())) {
							$(this).parent().show();
						}
					}); //end each
				}); // end each
				} // end for

			} // end if
			
		}); // end keyup
	}); //end focus
	
});// end ready
	
</script>

{% endblock %}


