{% extends "base.html" %}


{% block title %}
{{block.super}} - Profile
{% endblock %}

{% block content %}
<div class="container" style="margin-top:160px;">

	<div class="row justify-content-center">
		<div class="col-md-6 ">
			<div class="profile-head">
				<h4>{{user.provider.name}}</h4>
				<h6>{{roles}}</h6>
				<ul class="nav nav-tabs" href="#about">
					<li class="nav-item">
						<a class="nav-link" id="about-tab" href="#about">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#edit" id="edit-tab">Edit</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" href="#device" id="device-tab">Devices</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-md-2">
			<div class="dropdown" style="margin-bottom:30px;float:right">
				<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="true">Add Store</button>
			<div class="dropdown-menu dropdown-menu-right" style="width:400px;">
			  <form action="{% url 'add_store' %}" class="px-3 py-3" id="add_store" method="post">
			  	{% csrf_token %}
			  	<div class="form-group">
			      <label for="name_store">Name</label>
			      {% if form_add_store.name.value %}
			      <input type="text" class="form-control" id="name_store" name="name" value="{{form_add_store.name.value}}">
			      {% else %}
			      <input type="text" class="form-control" id="name_store" name="name">
			      {% endif %}
			    </div>
			    <div class="form-group">
			      <label for="address">Address</label>
			      {% if form_add_store.address.value %}
			      <input type="text" class="form-control" id="address" name="address" value="{{form_add_store.address.value}}">
			      {% else %}
			      <input type="text" name="address" class="form-control" id="address">
			      {% endif %}
			    </div>
			    <button type="button" class="btn" id="add_store_bt">Add</button>
			  </form>
			</div>
			</div>
		</div>
		
	</div>
	
	<div class="row justify-content-center" >
		<div class="col-md-8">
			<div class="tab-content profile-tab">
			<div class="tab-pane fade" id="about">
			<div class="row">
				<div class="col-md-6"><label for="">
					User Id
				</label></div>
				<div class="col-md-6">
					<p>{{user.provider.id}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><label for="">
					Name
				</label></div>
				<div class="col-md-6">
					<p>{{user.provider.name}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><label for="">
					Full Name
				</label></div>
				<div class="col-md-6">
					<p>{{user.provider.full_name}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><label for="">
					Email
				</label></div>
				<div class="col-md-6">
					<p>{{user.email}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><label for="">
					Phone
				</label></div>
				<div class="col-md-6">
					<p>{{user.provider.phone}}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6"><label for="">
					Website Link
				</label></div>
				<div class="col-md-6">
					<p>{{user.provider.url}}</p>
				</div>
			</div>
			{%if user.provider.skype_name %}
			<div class="row">
				<div class="col-md-6"><label for="">
					Skype Name
				</label></div>
				<div class="col-md-6">
					<p>{{user.provider.skype_name}}</p>
				</div>
			</div>
			{% endif %}
			{%if user.provider.zalo_link %}
			<div class="row">
				<div class="col-md-6"><label for="">
					Zalo Link
				</label></div>
				<div class="col-md-6">
					<p>{{user.provider.zalo_link}}</p>
				</div>
			</div>
			{% endif %}
			{% if user.store_set.all %}
			<hr noshade>
			
			{% for store in user.store_set.all %}
			<div class="row">
				<div class="col-md-6"><label for="">
					<a href="{{store.get_delete_url}}">{{store.name}}</a>
				</label></div>
				<div class="col-md-6">
					<p>{{store.address}}</p>
				</div>
			</div>
			{% endfor %}
			{% endif %}
			</div>

			<div class="tab-pane fade" id="edit">
				<form action="{% url 'user:profile' %}" method="post" id="form">
					{% csrf_token %}
					{% if form.name.errors %}
				      <ul class="custom_error_list">
				        {% for error in form.name.errors %}
				          <li><em>{{ error }}</em></li>
				        {% endfor %}
				      </ul>
				    {% endif %}
					<div class="form-group row">
						<label for="name" class="col-sm-3 col-form-label">Name</label>
						{% if form.name.value %}
						<div class="col-sm-9"><input type="text" class="form-control" name="name" value="{{form.name.value}}" id="name"></div>
						{% else %}
						<div class="col-sm-9"><input type="text" class="form-control" name="name" id="name"></div>
						{% endif %}
					</div>
					{% if form.full_name.errors %}
				      <ul class="custom_error_list">
				        {% for error in form.full_name.errors %}
				          <li><em>{{ error }}</em></li>
				        {% endfor %}
				      </ul>
				    {% endif %}
					<div class="form-group row">
						<label for="full_name" class="col-sm-3 col-form-label">Full Name</label>
						{% if form.full_name.value %}
						<div class="col-sm-9"><input type="text" class="form-control" name="full_name" value="{{form.full_name.value}}" id="full_name"></div>
						{% else %}
						<div class="col-sm-9"><input type="text" class="form-control" name="full_name" id="full_name"></div>
						{% endif %}
					</div>
					{% if form.email.errors %}
				      <ul class="custom_error_list">
				        {% for error in form.email.errors %}
				          <li><em>{{ error }}</em></li>
				        {% endfor %}
				      </ul>
				    {% endif %}
					<div class="form-group row">
						<label for="" class="col-sm-3 col-form-label">Email</label>
						{% if form.email.value %}
						<div class="col-sm-9"><input type="text" class="form-control" name="email" value="{{form.email.value}}" id="email"></div>
						{% else %}
						<div class="col-sm-9"><input type="text" class="form-control" name="email" id="email"></div>
						{% endif %}
					</div>
					{% if form.phone.errors %}
				      <ul class="custom_error_list">
				        {% for error in form.phone.errors %}
				          <li><em>{{ error }}</em></li>
				        {% endfor %}
				      </ul>
				    {% endif %}
					<div class="form-group row">
						<label for="phone" class="col-sm-3 col-form-label">Phone</label>
						{% if form.phone.value %}
						<div class="col-sm-9"><input type="text" class="form-control" name="phone" value="{{form.phone.value}}" id="phone"></div>
						{% else %}
						<div class="col-sm-9"><input type="text" class="form-control" name="phone" id="phone"></div>
						{% endif %}
					</div>
					{% if form.url.errors %}
				      <ul class="custom_error_list">
				        {% for error in form.url.errors %}
				          <li><em>{{ error }}</em></li>
				        {% endfor %}
				      </ul>
				    {% endif %}
					<div class="form-group row">
						<label for="url" class="col-sm-3 col-form-label">Website Link</label>
						{% if form.url.value %}
						<div class="col-sm-9"><input type="text" class="form-control" name="url" value="{{form.url.value}}" id="url"></div>
						{% else %}
						<div class="col-sm-9"><input type="text" class="form-control" name="url" id="url"></div>
						{% endif %}
					</div>
					{% if form.skype_name.errors %}
				      <ul class="custom_error_list">
				        {% for error in form.skype_name.errors %}
				          <li><em>{{ error }}</em></li>
				        {% endfor %}
				      </ul>
				    {% endif %}
					<div class="form-group row">
						<label for="skype_name" class="col-sm-3 col-form-label">Skype Name</label>
						{% if form.skype_name.value %}
						<div class="col-sm-9"><input type="text" class="form-control" name="skype_name" value="{{form.skype_name.value}}" id="skype_name"></div>
						{% else %}
						<div class="col-sm-9"><input type="text" class="form-control" name="skype_name" id="skype_name"></div>
						{% endif %}
					</div>
					{% if form.zalo_link.errors %}
				      <ul class="custom_error_list">
				        {% for error in form.zalo_link.errors %}
				          <li><em>{{ error }}</em></li>
				        {% endfor %}
				      </ul>
				    {% endif %}
					<div class="form-group row">
						<label for="zalo_link" class="col-sm-3 col-form-label">Zalo Link</label>
						{% if form.zalo_link.value %}
						<div class="col-sm-9"><input type="text" class="form-control" name="zalo_link" value="{{form.zalo_link.value}}" id="zalo_link"></div>
						{% else %}
						<div class="col-sm-9"><input type="text" class="form-control" name="zalo_link" id="zalo_link"></div>
						{% endif %}
					</div>
					
					<p style="font-size:0.8em;color:red;"><i>( * just fill out the fields which you want to change infomation.)</i></p>
					<a href="{% url 'user:pw_change' %}"><button class="btn btn-secondary" type="button" style="margin-bottom:30px;float:left;">Password</button></a>
					<button class="btn btn-success" type="button" style="float:right;" id="change_bt">Confirm</button>
				</form>

			</div>
			<div class="tab-pane fade  show active" id="device">
				<div class="row justify-content-center">
					<div class="col-4">
					<div class="input-group" style="width:100%">
						<input type="text" name="" placeholder="Search..." class="search_input" id="search">
						<div class="input-group-append">
						<button class="btn btn-light search_icon" disabled><i class="fa fa-search"></i></button>
						</div>
					</div>
					</div>
					<div class="col-3">
						<span>Status</span>
						<select  id="public">
							<option value="">All</option>
							<option value="">Public</option>
							<option value="">Private</option>
						</select>
					</div>
					<div class="col-3">
						<span>Store</span>
						<select id="store">
							<option value="">All</option>
							{% if form_add.store.field.choices %}
							{% for value, name in form_add.store.field.choices %}
							<option value="">{{name}}</option>
							{% endfor %}
							{% endif %}
						</select>
					</div>
					<div class="col-2">
						<p id="open">Add</p>
					</div>
				</div>
				<div id="add">
			
					<form action="{% url 'user:profile' %}" method="post" id="form_add">
						{% csrf_token %}
						<div class="form-group row">
							<label for="brand" class="col-sm-3 col-form-label">Brand<span class="required">*</span></label>
							{% if form_add.brand.value %}
							<div class="col-sm-9"><input type="text" class="form-control" name="brand" value="{{form_add.brand.value}}" id="brand" required pattern="\S+"></div>
							{% else %}
							<div class="col-sm-9"><input type="text" class="form-control" name="brand" id="brand" required pattern="\S+"></div>
							{% endif %}
						</div>
						{% if form_add.model.errors %}
					      <ul class="custom_error_list">
					        {% for error in form_add.model.errors %}
					          <li><em>{{ error }}</em></li>
					        {% endfor %}
					      </ul>
					    {% endif %}
						<div class="form-group row">
							<label for="" class="col-sm-3 col-form-label">Model<span class="required">*</span></label>
							{% if form_add.model.value %}
							<div class="col-sm-9"><input type="text" class="form-control" name="model" value="{{form_add.model.value}}" required pattern="\S+" id="model"></div>
							{% else %}
							<div class="col-sm-9"><input type="text" class="form-control" name="model" required pattern="\S+" id="model"></div>
							{% endif %}
						</div>
						<div class="form-group row">
							<label for="" class="col-sm-3 col-form-label">Description<span class="required">*</span></label>
							{% if form_add.description.value %}
							<div class="col-sm-9"><input type="text" class="form-control" name="description" value="{{form_add.description.value}}" required pattern="\S+" id="description"></div>
							{% else %}
							<div class="col-sm-9"><input type="text" class="form-control" name="description" required pattern="\S+" id="description"></div>
							{% endif %}
						</div>
			
						{% if form_add.store.field.choices %}
						{% for value, label in form_add.store.field.choices %}
						<div class="form-check form-check-inline" style="margin-bottom:10px;">
							<input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="{{value}}" name="store">
  							<label class="form-check-label" for="inlineCheckbox1">{{label}}</label>

						</div>
						{% endfor %}
						{% endif %}

						<div class="row">
							<div class="col-sm-6">
								<div class="form-group row">
									<label for="quantity" class="col-sm-6 col-form-label">Quantity<span class="required">*</span></label>
									{% if form_add.quantity.value %}
									<div class="col-sm-6"><input type="text" class="form-control" name="quantity" value="{{form_add.quantity.value}}" id="quantity" required pattern="\S+"></div>
									{% else %}
									<div class="col-sm-6"><input type="text" class="form-control" name="quantity" id="quantity" required pattern="\S+"></div>
									{% endif %}
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group row">
									<label for="kind" class="col-sm-3 col-form-label">Kind<span class="required">*</span></label>
									{% if form_add.kind.value %}
									<div class="col-sm-9"><input type="text" class="form-control" name="kind" value="{{form_add.kind.value}}" required pattern="\S+" id="kind"></div>
									{% else %}
									<div class="col-sm-9"><input type="text" class="form-control" name="kind" required pattern="\S+" id="kind"></div>
									{% endif %}
								</div>
							</div>
						</div>
						<div class="form-check">
							<input name="public" type="checkbox" checked class="form-check-input" >
							<label class="form-check-label">Public</label>
							
						</div>
						<button class="btn" type="button" id="add_bt">Add</button>
					</form>
				</div>
				{% if list_device %}
				<table class="table table-bordered" style="text-align:center;margin-top:20px;vertical-align: middle;">
					<thead>
				    <tr style="background-color:lightgray">
				      <th>Brand</th>
				      <th>Model</th>
				      <th>Kind</th>
				      <th>Description</th>
				      <th>Quantity</th>
				  

				    </tr>
				    </thead>
				  {% for device in list_device %}
				    <tbody>
				    	<tr style="background-color:rgb(254,250,246);">
				    		<td>{{device.brand}}</td>
				    		<td><a href="{{device.get_update_url}}">{{device.model}}</a></td>
				    		<td>{{device.kind}}</td>
				    		<td>{{device.description}}</td>
				    		<td>{{device.quantity}}</td>
				    		{% if device.public %}
				    		<td>Public</td>
				    		{% else %}
				    		<td>Private</td>
				    		{% endif %}
				    		{% if device.store.all %}
				    		{% for store in device.store.all %}
				    		<td>{{store.name}}</td>
				    		{% endfor %}
				    		{% endif %}

				    	</tr>
				    </tbody>
				  {% endfor %}
				</table>

				{% else %}
				<h4>No Device</h4>

				{% endif %}
			</div>
			
		</div>
		</div>

	</div>


</div>
<script>
$(document).ready(function() {
	// navigate tab //
	$(".nav-link").click(function() {
		if ($(this).hasClass("active")) {
			return false;
		} else {
			$(".nav-link").removeClass("active");
			$(this).addClass("active");
			var id = $(this).attr("href");
			$(".tab-pane.fade").removeClass("show active");
			$(id).addClass("show active");

		} // end if			

	});// end click

	// Open popup form add device //
	$("#open").click(function() {
		
		$("#add form").stop().slideToggle();
		$("#brand").focus();
		
		$(this).toggleClass("closed");
	}); //end click

	// Change Information Profile //
	$("#change_bt").click(function() {
		var name = $("#name").val();
		var full_name = $("#full_name").val();
		var email = $("#email").val();
		var phone = $("#phone").val();
		var url = $("#url").val();
		var skype_name = $("#skype_name").val();
		var zalo_link = $("#zalo_link").val();
		if (name==""&&full_name==""&&email==""&&phone==""&&url==""&&skype_name==""&&zalo_link=="") {
			alert("Please fill at least one field!");
			return false;
		}

		$("#form").submit();
		
	}); //end click

	// Add Store //
	$("#add_store_bt").click(function() {
		var name_store = $("#name_store").val().trim();
		var address = $("#address").val().trim();

		if (name_store==""||address=="") {
			return false;
		}

		$("#add_store").submit();
	}); // end click

	// Add Device //
	$("#add_bt").click(function() {

		var quantity = $("#quantity").val();
		var brand = $("#brand").val();
		var model = $("#model").val();
		var description = $("#description").val();
		var kind = $("#kind").val();
		if (isNaN(quantity)) {
			alert("Please supply a number to quantity field!");
			return false;
		}
		if (brand==""||model==""||description==""||kind==""||quantity=="") {
			alert("Please fill out all the fields!");
			return false;
		}

		$("#form_add").submit();// end submit
	}); // end click

	// alert when customer fill value is not number //
	$("#quantity").blur(function() {
		var fieldValue = $(this).val();
		if (isNaN(fieldValue)) {
			alert("Please supply a number");
			}
	}); //end blur

	// seach bar //

	var store = $("#store option:selected").text();
	var public = $("#public option:selected").text();
	var all_device = $("tbody tr");
	var all_device_field = $("tbody tr td");
	all_device_field.hide();
	function showDevice(device) {
		device.each(function() {
			$(this).find("td").slice(0,5).show();
		});
	}

	function search(show,devices) {
		$("#search").focus(function() {
			$(this).keyup(function() {
				var valueSearch = $(this).val().trim();

				if (valueSearch=="") {
					show;

				} else {
					valueArray = valueSearch.split(" ");

					all_device_field.hide();
					for (var i=0;i<valueArray.length;i++) {
						devices.each(function() {
						$(this).find("td").each(function() {
							if ($(this).text().toLowerCase().includes(valueArray[i].toLowerCase())) {
								showDevice($(this).parent());
								return false;
							}
						}); //end each
					}); // end each
					} // end for

				} // end if
				
			}); // end keyup
		}); //end focus
	}

	showDevice(all_device);
	
	$("#store,#public").change(function() {
	var store = $("#store option:selected").text();
	var public = $("#public option:selected").text();
	var get_device = $();
	all_device_field.hide();

	if (store=="All"&&public=="All") {
		showDevice(all_device);
		search(showDevice(all_device),all_device);

	} else if (store!="All") {
		
		if (public=="All") {
			all_device.each(function() {
				$(this).find("td").slice(6).each(function() {
					if ($(this).text()==store) {
						showDevice($(this).parent());
						get_device = get_device.add($(this).parent());
					}
				}); // end each
			}); // end each
			search(showDevice(get_device),get_device);
		} else if (public=="Public") {
			all_device.each(function() {
				if ($(this).find("td").eq(5).text()=="Public") {
					$(this).find("td").slice(6).each(function() {
					if ($(this).text()==store) {
						showDevice($(this).parent());
						get_device = get_device.add($(this).parent());
					}
				}); // end each
				}
			}); // end each
			search(showDevice(get_device),get_device);
		} else {
			all_device.each(function() {
				if ($(this).find("td").eq(5).text()=="Private") {
					$(this).find("td").slice(6).each(function() {
					if ($(this).text()==store) {
						showDevice($(this).parent());
						get_device = get_device.add($(this).parent());
					}
				}); // end each
				}
			}); // end each
			search(showDevice(get_device),get_device);
		}
	} else {
		
		if (public=="Public") {
			all_device.each(function() {
				if ($(this).find("td").eq(5).text()=="Public") {		
						showDevice($(this).parent());
						get_device = get_device.add($(this).parent());
					}
			}); // end each
			search(showDevice(get_device),get_device);
		} else {
			all_device.each(function() {
				if ($(this).find("td").eq(5).text()=="Private") {		
						showDevice($(this).parent());
						get_device = get_device.add($(this).parent());
					}
			}); // end each
			search(showDevice(get_device),get_device);
		}
	}
	}); // end change
	
});// end ready
	
</script>

{% endblock %}


